<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Vision, Our Passion. Brighter Together!</h1>
            <hr>
            <p><mark>Transforming ideas into immersive experiences! Arka Productions, where cinematic mastery meets strategic marketing, bringing your brand to life with compelling narratives and visually stunning content. Your story, elevated to new heights.</mark></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Know more!</a>
        </div>
    </div>
</header>
